body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.container{
    display: flex;
    height: 80%;
    border: 2px solid black;
}

.row{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.square{
    border: 1px solid black;
}